@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.material-icons {
    @apply select-none;
}

:root {
    --header-height: 88px;
    --background-color: #f5f5f5;
    --view-profile-menu-height: 16rem;
    --view-profile-menu-max-height: 32rem;
}
